<div class="page-header">
    <h1>{{author}}'s Blog</h1>
</div>
<div class="blogPost" ng-repeat="post in posts | orderBy: '-date'">
    <div class="heading">
        <h3>{{post.title}}</h3>
        <span> By {{post.author}} </span>
    </div>
    <div class="image">
        <img ng-src="data:{{post.img.contentType}};base64, {{post.img.data.toString('base64')}}">
    </div>
    <div class="content">
        <p>{{post.body}}</p>
    </div>
    <div class="footer">
        <span>
            <a class="button" href="#/posts/{{post._id}}">Comments</a>
        </span>
        <span class="button glyphicon glyphicon-thumbs-up"
            ng-click="likePost(post)">  {{post.likes}}</span>
        <span class="button glyphicon glyphicon-remove"
            ng-click="deletePost(post)"></span>
    </div>
</div>
<form ng-submit="addPost()"
      style="margin-top: 30px"
      id="newPostForm">
    <h4>Add a new post:</h4>
    <div class="form-group">
        <input class = "form-control" 
               type = "text" 
               placeholder="Title:" 
               ng-model="title"></input>
    </div>
    <div class="form-group">
        <textarea class = "form-control"
               type = "text" 
               placeholder="Write stuff here!" 
               ng-model="body"
               maxlength="160"></textarea>
        <span>{{body.length}}/160</span>
    </div>
    <input ng-model="image" ng-file-select="onFileSelect($files)" name="userImage" type="file"></input>
    <input ng-model="imageURL" type="text" style="display: none"></input>
    <button class="form-button" type="submit">Post</button>
</form>