<html>
    <head>
        <title>Blog</title>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="/javascripts/angular-file-upload.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"</script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    </head>
    <body ng-app="myBlog">
        <div class="row">      
            <div class = "col-md-6 col-md-offset-3">
                <ui-view></ui-view>
            </div>
        </div>

        <script type="text/ng-template" id="/home.html">
            <div class="page-header">
                <h1>{{posts[0].author}}'s Blog</h1>
            </div>
            <div class="blogPost" ng-repeat="post in posts | orderBy: '-date'">
                <div class="heading">
                    <h3>{{post.title}}</h3>
                    <span> By {{post.author}}</span>
                </div>
                <div class="image">
                    <img src={{post.imageURL}}>
                </div>
                <div class="content">
                    <p>{{post.body}}</p>
                </div>
                <div class="footer">
                    <span>
                        <a class="button" href="#/posts/{{post._id}}">Comments</a>
                    </span>
                    <span class="button glyphicon glyphicon-thumbs-up"
                        ng-click="likePost(post)">  {{post.likes}}</span>
                    <span class="button glyphicon glyphicon-remove"
                        ng-click="deletePost(post)"></span>
                </div>
            </div>
            <form ng-submit="addPost()"
                  style="margin-top: 30px"
                  id="newPostForm">
                <h4>Add a new post:</h4>
                <div class="form-group">
                    <input class = "form-control" 
                           type = "text" 
                           placeholder="Title" 
                           ng-model="title"></input>
                </div>
                <div class="form-group">
                    <input class = "form-control"
                           type = "text" 
                           placeholder="Write stuff here!" 
                           ng-model="body"></input>
                </div>
                <input ng-model="image" ng-file-select="onFileSelect($files)" name="userImage" type="file"></input>
                <input ng-model="imageURL" type="text" style="display: none"></input>
                <input ng-model="author" type="text" style="display: none" ng-value="Bryan"></input>
                <button class="form-button" type="submit">Post</button>
            </form>
        </script>
        
        <script type="text/ng-template" id="/posts.html">
            <div class="page-header">
                <h1>{{post.author}}'s Blog</h1>
            </div>
            <div class="blogPost">
                <div class="heading">
                    <h3>{{post.title}}</h3>
                    <span> By {{post.author}}</span>
                </div>
                <div class="image">
                    <img src={{post.imageURL}}>
                </div>
                <div class="content">
                    <p>{{post.body}}</p>
                </div>
            </div>
            <div class="heading"></div>
            <div class="blogPost"
            ng-repeat="comment in post.comments | orderBy: '-date'">
                <span class="commentTitle">{{comment.author}}: </span>
                <p style="font-size 16px; margin-left 10px;">
                    {{comment.body}}
                </p>
            </div>
            <div class="blogPost">
            <form ng-submit="postComment()"
                style="margin-top: 20px;">
                <h3 style="margin-bottom: 5px">Comment:</h3>
                
                <div class="form-group">
                    <input type="text" class="form-control"
                    placeholder="What is your name?" 
                    ng-model="author"></input>
                    <input type="text" class="form-control" 
                    placeholder="Write your comment!"
                    ng-model="body"></input>
                </div>
                <button type="submit" class="btn btn-primary">Post</button>
            </form>
            </div>
        </script>
    </body>
</html>